<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="smsto" />
            </intent-filter>
            
        </activity>

        <activity
            android:name=".activities.AddContactActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ContactDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.EditContactActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.ContactDetailActivity" />

        <activity
            android:name=".activities.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.ContactDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.HeaderColorActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.LanguageActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity" />

        <receiver
            android:name=".receivers.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.PhoneStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>